{% set title = 'Blank Page' %}
{% set page = 'home' %}
{% extends 'layouts/master.njk' %}

{% block content %}
        <section class="section">
          <div class="section-header">
            <h1>Blank Page</h1>
          </div>

          <div class="section-body">
          </div>
        </section>
{% endblock %}
